
.select-input .Select-arrow-zone{
    border-left: 2px solid #bfbfbf;
    padding-left: 12px;
    padding-right: 12px;
}

.select-input .Select-control{
    width: 400px;
    text-align: left;
    font-family: 'sans-serif';
    border-radius: 0px;
    border: 2px solid #bfbfbf;
    padding: 0px;
    height: 34px;
}

.select-input .Select-input{
    height: 34px;
}

.select-input .Select-placeholder{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 16px;
}